/* |||||||||| AREA SET |||||||||| */

/* (_____ Contenitore ____________________________) */
.contenitore90
{
  width: 90%;
  margin: auto;
}
.contenitore80
{
  width: 80%;
  margin: auto;
}
.contenitore80
{
  width: 80%;
  margin: auto;
}
.contenitore70
{
  width: 70%;
  margin: auto;
}
.contenitore60
{
  width: 60%;
  margin: auto;
}
.contenitore50
{
  width: 50%;
  margin: auto;
}
.contenitore40
{
  width: 40%;
  margin: auto;
}

/* (_____ Contenitore ____________________________) */
.left-text
{
  text-align: left;
}
.center-text
{
  text-align: center;
}
.right-text
{
  text-align: right;
}

/* (_____ Padding ____________________________) */
.pad-xs
{
  padding: 0.5vw;
}
.pad-s
{
  padding: 1vw;
}
.pad-m
{
  padding: 2vw;
}
.pad-l
{
  padding: 3vw;
}

/* (_____ Padding laterale ____________________________) */
.x-pad-xs
{
  padding: 0 0.5vw;
}
.x-pad-s
{
  padding: 0 1vw;
}
.x-pad-m
{
  padding: 0 2vw;
}
.x-pad-l
{
  padding: 0 3vw;
}

/* (_____ Padding verticale ____________________________) */
.y-pad-xs
{
  padding: 0.5vw 0;
}
.y-pad-s
{
  padding: 1vw 0;
}
.y-pad-m
{
  padding: 2vw 0;
}
.y-pad-l
{
  padding: 3vw 0;
}

/* (_____ Margin laterale ____________________________) */
.x-mar-xxs
{
  margin: 0 0.3vw;
}
.x-mar-xs
{
  margin: 0 0.5vw;
}
.x-mar-s
{
  margin: 0 1vw;
}
.x-mar-m
{
  margin: 0 2vw;
}
.x-mar-l
{
  margin: 0 3vw;
}

/* (_____ Margin verticale ____________________________) */
.y-mar-s
{
  margin: 1vw 0;
}
.y-mar-m
{
  margin: 2vw 0;
}
.y-mar-l
{
  margin: 3vw 0;
}

/* (_____ Border Radius ____________________________) */
.borag-s
{
  border-radius: 5px;
}
.borag-m
{
  border-radius: 10px;
}
.borag-l
{
  border-radius: 20px;
}
.borag-xl
{
  border-radius: 40px;
}
.borag-cerchio
{
  border-radius: 50%;
}
.bordo-1
{
  border: 1px solid black;
}
.bordo-2
{
  border: 2px solid black;
}
.bordo-3
{
  border: 3px solid black;
}

/* (_____ Font Size ____________________________) */
.font-xs
{
  font-size: 0.8rem;
}
.font-s
{
  font-size: 1rem;
}
.font-m
{
  font-size: 1.2rem;
}
.font-l
{
  font-size: 1.4rem;
}
.font-xl
{
  font-size: 2rem;
}

/* |||||||||| AREA COLORI |||||||||| */

.sfondo-grigio
{
  background-color: lightgrey;
}
.sfondo-bianco
{
  background-color: white;
}
.nero
{
  color: black;
}




































/* Fine :)*/